<h2>Play game</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Game</dt>
        <dd>{{data.name}}</dd>
        <dt>Created</dt>
        <dd>{{data.creationDate}}</dd>
    </dl>
</div>
<div>
    <button (click)="More()" class="btn btn-default btn-block">More</button>
    <button (click)="Enough()" class="btn btn-default btn-block">Enough</button>
</div>
<div>
    <table class="table">
        <tr>
            <td>Dealer</td>
            <td>Dealer's points</td>
        </tr>
        <tr>
            <td>{{data.dealer.name}}</td>
            <td>{{data.dealer.points}}</td>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <td>Player</td>
            <td>Playres points</td>
            <td>Players result</td>
        </tr>
        <tr *ngFor="let player of data.players">
            <td>{{player.name}}</td>
            <td>{{player.points}}</td>
            <td>{{player.result}}</td>
        </tr>
    </table>
</div>