<h2>Games history</h2>
<button (click)="startGame()" class="btn btn-default">Start new game</button>
<div>
  <table class="table">
    <tr class="header">
      <td>Game</td>
      <td>Dealer</td>
      <td>Player</td>
      <td>Creation date</td>
      <td></td>
    </tr>
    <tr *ngFor="let game of data.games">
      <td>{{game.name}}</td>
      <td>{{game.dealerName}}</td>
      <td>{{game.playerName}}</td>
      <td>{{game.creationDate| date:'medium'}}</td>
      <td>
        <button (click)="showResults(game.id)" class="btn btn-default">Look game's results</button>
      </td>
    </tr>
  </table>
</div>
