<div class="container">
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" [routerLink]="['/']">Home</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a [routerLink]="['history']">Games history</a></li>
                        <li><a [routerLink]="['start']">Start new game</a></li>
                    </ul>
                  </div>
                </nav>
                <router-outlet></router-outlet>
</div>